/*body{
    background-color:#e6e6ff !important;
}
.container{
    background-color: white;
   
 
    height: 100% !important;
    margin: none;

}
.row{
    height: 100%;
}
input{
    width: 100% !important;
}

form{
    padding: none;
}
.col-sm-4{
    background-image: url("https://vignette.wikia.nocookie.net/rickandmorty/images/4/41/Morty_Smith.jpg/revision/latest?cb=20170217193441");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}

.col-sm-8{
    align-items: left !important;
    margin: auto;
}
h3{
    padding-bottom: 30px;
}

*/


body{
    background-color:#dce9fd !important;
}


.contact{
    padding: 4%;
    height: 400px;
}
.col-md-3{
    background: url('../images/background_filter.jpg') no-repeat;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
   /* background:rgba(2, 56, 73, 0.3); */

    

}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}

.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
    float: left;
    width: 100%;
    text-align: left;
  
  
}
.contact-form button{
    background: #034e6b;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}

form{
    padding: 0  ;
    margin-left: 0;

}
button{
    float: left;
    margin-top: 10px !important;
}
.submit{
    margin-top: 10px !important;
}
input[type=text]{
    width: 100%;
}
@media (max-width: 600px) {
    button {
        width: 120px !important;
        
    }
}