body{
    background-color:#e6e6ff !important ; ;
    align-items: center;
}
.container{
    margin:0px;
 
   display: flex;

   padding: none;
   align-items: center;
  
}
img{
    
    height: 100%;
    width: 100%;
    margin: 10px;
    border-top-left-radius:20px ;
    border-bottom-left-radius: 20px;


}
.row{
    
    width: 100%;
    height: 80%;
    margin: 40px;


}
article{
    font-size: 20px;
    
}

h1{
    color: #1c87c9 !important ;
    font-weight:bold;
    font-family: 'Lacquer' !important;
}
h5{
    margin-top: 30px !important;
    color: forestgreen !important;
}

.buttons{
   
    margin: 0px !important;
    padding: 0px !important; 
    background-color: fuchsia;
}

button{
    
    font-size: 15px !important;
    margin-top: 30px !important;
}
.edit-delete{
    display: inline-flex;
    width: 100%;
}
#delete{
    margin-left: 10px;
}
.prod-details{
    width: 100%;
    padding: 70px;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    background-color: white;
}

@media (max-width: 767px) {
    .prod-details {
        padding: 20px;
        padding-bottom: 60px !;

    }
 .section{
     padding-left: 30px !important;
 }
 img{
 border-top-left-radius:20px ;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
 }
 
}

@media (max-width: 1030px) {
    .prod-details {
        padding: 20px;
        padding-bottom: 40px;

    }
 .section{
     padding-left: 30px !important;
 }
 
}

